{loop type='socolissimo.order_address' name='socolissimo.order_address' id=$delivery_address_id}
    {if {$CODE} == 0}
        <p>{intl l='Delivered at home.' d='socolissimo.pdf.default'}</p>
    {else}
        <p>
            {intl l='Delivered at a relay.' d='socolissimo.pdf.default'}<br/><br/>
            <b>{intl l='Relay address:' d='socolissimo.pdf.default'}</b>
            {loop name='order_address' type='order_address' id=$delivery_address_id}
            <blockquote>{$COMPANY}<br/>
                {$ADDRESS1} {$ADDRESS2} {$ADDRESS3}<br/>
                {$ZIPCODE} {$CITY}<br/>
                {loop type="country" name="country_delivery" id=$COUNTRY}{$TITLE}{/loop}
            </blockquote>
            {/loop}
            {elseloop rel='order_address'}&nbsp;{intl l='no address' d='socolissimo.pdf.default'}{/elseloop}
        </p>
    {/if}
{/loop}
